# Output files
hpccoutf.txt
patch_was_applied.txt

# Binaries
hpl
lat_bw
mpi_fft
mpi_random_access
mpi_random_access_lcg
ptrans
single_dgemm
single_fft
single_random_access
single_random_access_lcg
single_stream
star_dgemm
star_fft
star_random_access
star_random_access_lcg
star_stream

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
